<aside class="social">
  {% for socialName, social in metadata.social %}
    {% if social.link !== "" %}
      <a class="social__icon" target="_blank" href="{{social.link | linkFormat }}">{% include "../.." + social.icon %}</a>
    {% endif %}
  {% endfor %}
</aside>
